@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

* ,
:after,
:before
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100%;
  border: black solid 1px;
  overflow: hidden;
  z-index: 100;
}
.intro {
  background-image: url("images/backgroundImage.jpeg");
  background-size: cover;
  position: absolute;
  background-repeat: no-repeat;
  height: 80%;
  width: 80%;
  transform: translate(100px);
}
.introMessage {
  background: white;
  color: red;
  width: 70%;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  white-space: nowrap;
}

input {
  transform: translateY(100px);
}

.btn_2 {
  display: none;
  position: absolute;
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  box-shadow: 10px 10px black;
  color: grey;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.landingPage {
  position: absolute;
  height: 80%;
  width: 80%;
  border: red 3px solid;
  background-color: grey;
  transition: width 2s;
  transform: translate(100px);
}
button.btn_1 {
  /* display: block; */
  height: auto;
  width: auto;
  background-color: green;
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  box-shadow: 10px 10px black;
  color: grey;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.quiz {
  display: none;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  border: 1px black solid;
  height: 100vh;
  width: 100vw;
}
.timerContainer {
  position: absolute;
  transform: translate(-450px, 450px);
  height: 200px;
  width: 200px;
  background: white;
}
.circleContainer {
  height: 80%;
  width: 80%;
  background: blue;
  border-radius: 50%;
  position: relative;
}
.circle2 {
  height: 80%;
  width: 80%;
  background: white;
  border-radius: 50%;
  position: relative;
}
.cirlce2:before {
  content: "";
  height: 80%;
  width: 80%;
  background-color: black;
  position: absolute;
  border-radius: 50%;
}
.timer {
  font-size: 20px;
  font-weight: 700;
  height: 50px;
  width: 50px;
}
.progressCirlceBar {
  position: absolute;
  display: grid;
  place-items: center;
  transform: translate(450px, 450px);
  height: 200px;
  width: 200px;
  background-color: white;
}
.circle {
  height: 180px;
  width: 180px;
  background-color: green;
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.circle:before {
  content: "";
  height: 84%;
  width:84%;
  background-color: white;
  border-radius: 50%;
  /* position: absolute; */
  display: grid;
  place-items: center;
}
.questionAnswered {
  position: absolute;
  font-size: 15px;
  font-family: fantasy;
  height: 50px;
  width: 50px;
  z-index: 100;
}
.quizImage {
  height: 500px;
  width: 500px;
  margin-top: 50px;
}
.coloredElements {
  display: flex;
  justify-content: space-around;
  align-items: center;
  outline: none;
  border-radius: 10px;
  height: 50px;
  width: 500px;
  position: absolute;
  transform: translateY(575px);
}
.multipleChoice {
  position: absolute;
  bottom: 10px;
}
.choice {
  border: 1px black solid;
  border-radius: 10px;
  margin-bottom: 5px;
  width: 500px;
  height: 25px;
  text-align: center;
  background: rgb(97, 99, 90);
  color: white;
}
.choice:hover {
  transform: scale(1.1);
  background: rgb(47, 49, 40);
}
.finalScoreContainer {
  height: 100vh;
  width: 100vh;
}
.finalScore {
  display: "none";
  height: 400px;
  width: 500px;
}
.bubble {
  position: relative;
  font-size: 18px;
  width: 300px;
  left: 260px;
  bottom: 50px;
  height: 100px;
  width: 400px;
  border-radius: 50px;
  background: white;
}
.bubble:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 24px solid #fff;
  border-right: 12px solid transparent;
  border-top: 12px solid #fff;
  border-bottom: 20px solid transparent;
  left: 32px;
  bottom: -24px;
}
.gif {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.centerFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.slides {
  width: 10%;
}
.rule {
  position: absolute;
}
button:hover {
  background: linear-gradient(0.20turn, #3f87a6, #ebf8e1, #f69d3c);
  box-shadow: 12.5px 12.5px black;
  color: black;
  font-size: 18px;
  transform: 2000ms;
}
h2 {
  text-align: center;
}
select {
  transform: translateY(80px);
}
.center {
  display: grid;
  place-items: center;
}
.quiz_2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.correct {
  background: green;
}
.wrong {
  background: red;
}
.coloredElements > * {
  height: 5px;
  width: 5px;
  border: 1px black solid;
  border-radius: 5px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.roundBoxes {
  height: 10%;
  width: 10%;
  border-radius: 100%;
  background: grey;
}
