* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("images/backgroundImage.jpeg");
  background-size: cover;

  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;

}

.rule {
  position: absolute;
}

button {
  display: none;
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

button:hover {
  background-color: black;
  color: white;

}

.introMessage {
  background: white;
  color: red;
  width: 70%;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  white-space: nowrap;
}

h2 {
  text-align: center;
}

select {
  transform: translateY(50px);
}

.quiz {
  display: none;
  justify-content: center;
  position: relative;

  border: 1px black solid;
  height: 800px;
  width: 800px;
}

.quizImage {
  height: 500px;
  width: 500px;
  margin-top: 50px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.multipleChoice {
  position: absolute;
  bottom: 10px;
}

.choice {
  border: 1px black solid;
  border-radius: 10px;
  margin-bottom: 5px;
  width: 500px;
  height: 25px;
  text-align: center;
  background: rgb(97, 99, 90);
  color: white;
}

.choice:hover {
  transform: scale(1.1);
  background: rgb(47, 49, 40);
}

.correct {
  background: green;
}

.wrong {
  background: red;
}

.finalScore {
  display: "none";
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 500px;
}
