* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("images/backgroundImage.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
